<article id="test">
  <h1>Json converter FunctionalityTest#test</h1>
  <%= button_tag 'Create key-value pair', id: :create, class: 'btn btn-primary' %>
  <%= button_tag 'Clear field', id: :clear, class: 'btn btn-danger' %>
  <%= button_to 'Send data', :reverse_data, id: :send, class: 'btn btn-success' %>
  <div id="forms"></div> 
</article>