<!DOCTYPE html>
<html>
  <head>
    <title>ApplicationWithDataReverseGem</title>
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'  %>
    <%= stylesheet_pack_tag 'stylesheets', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section id="content">
      <%= yield %>
    </section>
  </body>
</html>
